@import url('https://fonts.googleleapi.com/css2?family=Popins:wght@400;500;600;700:800');

body {
  margin: 0;
  font-family: 'Popins',  sans-serif;
  background: var(--bg);
  color: var(--black);
  scroll-behavior: smooth;
}

